<!DOCTYPE html>
<html>
  <head>
    <title>Is your password pwned? Glitch-style.</title>
    <meta name="description" content="A Glitchy tool using the haveibeenpwned.com API to check if a password's been exposed.">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>Has your password been pwned?
      </h1>
    </header>

    <main>
      <h2 class="bold">Let's find out!</h2>
      <p>Submit your password and we'll check the <a href="https://haveibeenpwned.com"><i>Have I been pwned?</i></a> list of exposed passwords (using the <i>Have I been pwned?</i> <a href="https://haveibeenpwned.com/API/v2#PwnedPasswords">Pwned Passwords API</a>) to see if yours is in there. If it is, we'll tell you how many times it appears.</p>
      <div class="left" id="data">
        <form>
        <input type="password" maxlength="100" placeholder="password">
        <button type="submit">Submit</button>
      </form>
      </div>
      <div id="results" class="left">
        <h2 id="results-title">
          Your password has been pwned!
        </h2>
        <span id="results-text">Your password shows up in the <i>Have I been pwned?</i> exposed passwords list <span id="results-count" class="bold blink biggerer"></span> times.</span>
      </div>
      <div class="clear" />
      
      <div id="info">
        <h2>
          Notes
        </h2>
        <p>
          We use a <a href="https://haveibeenpwned.com/API/v2#SearchingPwnedPasswordsByRange">range search</a> to check for your password's exposure, 
          and all of the hashing and comparing is done in your browser. Only the first 5 characters of the hash is sent to the <i>Have I been pwned?</i> site so your anonymity is maintained.
        </p>
        <p>
          We rely on the Web Crypto API's <a href="https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto">SubtleCrypto</a> methods, 
          which only <a href="https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto/digest#Browser_compatibility">"modern" browsers</a> 
          support. Basically, this site might not work in IE, Opera, or Safari.
        </p>
      </div>
    </main>

    <footer>
      <a href="https://glitch.com">
        Remix this in Glitch
      </a>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>
    <script src="https://remix-corner.glitch.me/glitch-corner.js"></script>
  </body>
</html>
