<!DOCTYPE html>
<html>
  <head>
    <title>Is your password pwned? Glitch-style.</title>
    <meta name="description" content="A Glitchy tool using the haveibeenpwned.com API to check if a password's been exposed.">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>Has your password been pwned?
      </h1>
    </header>

    <main>
      <h2 class="bold">Let's find out!</h2>
      <p>Subbmit your password and we'll check the Have I Been Pwned list of exposed passwords to see if yours is in there.</p>
      <div class="left" id="data">
        <form>
        <input type="password" maxlength="100" placeholder="password">
        <button type="submit">Submit</button>
      </form>
      </div>
      <div id="results" class="left">
        <h2 id="results-title">
          Your password has been pwned!
        </h2>
        <span id="results-text">Your password shows up in the Have I Been Pwned exposed passwords list <span id="results-count" class="bold blink biggerer"></span> times.</span>
      </div>
      <div class="clear" />
      
      <div id="info">
        will clean this up later, but for now:
        <ul>
          <li>password hashing and checking will be done client-side, so your password itself will never be passed to the server or to the HIBP API (both of which will only receive the first 5 characters of the SHA-1 hash)</li>
          <li>relies on the Web Crypto API's SubtleCrypto methods, which only <a href="https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto/digest#Browser_compatibility">"modern" browsers</a> currently support. Basically, this won't work in IE or Safari</li>
          <li>rough implementation with little or no error handling or UI niceties (like warning unsupported browsers)</li>
        </ul>
      </div>
    </main>

    <footer>
      <a href="https://glitch.com">
        Remix this in Glitch
      </a>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>
    <script src="https://remix-corner.glitch.me/glitch-corner.js"></script>
  </body>
</html>
